include ukit/share/*.desktop
include ukit/share/*.metainfo.xml
include ukit/share/*.png
include ukit/share/*.svg
include ukit/share/*.ico
include ukit/share/*.1
include ukit/stock_configs/*
include ukit/locale/*/LC_MESSAGES/*.mo
exclude ukit/locale/*
include COPYING
include *requirements.txt
graft tests
graft tools
